<h1>Impressions#index</h1>
<p>Find me in app/views/impressions/index.html.erb</p>


<table>
  <thead>
    <tr>
      <th>[]controller_name</th>
      <th>[]action_name</th>
      <th>[]impressionable_id</th>
      <th>[]Label</th>
      <th>[]</th>
      <th>[]PV_all</th>
      <th>[]PV_from_175.177.119.139</th>
      <th>[]PV_from_182.251.56.117</th>
      <th>[]Others</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th>Home Wi-Fi</th>
      <th>iPhone</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>arts</td>
      <td>index</td>
      <td></td>
      <td>Home</td>
      <td></td>
      <td><%= a = @impressions_arts.size %></td>
      <td><%= b = @impressions_arts.where(ip_address: "175.177.119.139").size %></td>
      <td><%= c = @impressions_arts.where(ip_address: "182.251.56.117").size %></td>
      <td><%= a-b-c %></td>
    </tr>

    <%# arts#showの各ページのPV数 %>
    <% for i in 1..@arts.maximum(:id) do %>
      <% if @arts.exists?(id: i) %>
        <% art = @arts.find(i) %>
        <tr>
          <td>arts</td>
          <td>show</td>
          <td><%= i %></td>
          <td><%= art.artist.name %></td>
          <td><%= art.title %></td>
          <td><%= a = @impressions_art.where(impressionable_id: i).size %></td>
          <td><%= b = @impressions_art.where(impressionable_id: i, ip_address: "175.177.119.139").size %></td>
          <td><%= c = @impressions_art.where(impressionable_id: i, ip_address: "182.251.56.117").size %></td>
          <td><%= a-b-c %></td>
        </tr>
      <% end %>
    <% end %>

    <%# arts#showのPV数のartistごとの合計 %>
    <%# 計算 %>
    <% artist = [] %>
    <% brtist = [] %>
    <% crtist = [] %>
    <% for i in 1..@artists.maximum(:id) do %>
      <% artist[i] = [] %>
      <% brtist[i] = [] %>
      <% crtist[i] = [] %>
    <% end %>

    <% for i in 1..@arts.maximum(:id) do %>
      <% if @arts.exists?(id: i) %>
        <% art = @arts.find(i) %>
        <% artist[art.artist.id] << @impressions_art.where(impressionable_id: i).size %>
        <% brtist[art.artist.id] << @impressions_art.where(impressionable_id: i, ip_address: "175.177.119.139").size %>
        <% crtist[art.artist.id] << @impressions_art.where(impressionable_id: i, ip_address: "182.251.56.117").size %>
      <% end %>
    <% end %>

    <%# 表示 %>
    <% for i in 1..@artists.maximum(:id) do %>
      <% if @artists.exists?(id: i) %>
        <tr>
          <td>arts</td>
          <td>show</td>
          <td>per artist</td>
          <td><%= @artists.find(i).name %></td>
          <td>Total</td>
          <td><%= a = artist[i].sum %></td>
          <td><%= b = brtist[i].sum %></td>
          <td><%= c = crtist[i].sum %></td>
          <td><%= a-b-c %></td>
        </tr>
      <% end %>
    <% end %>

    <%# そのartistでソートされた回数 %>
    <% for i in 1..@impressions_artist.maximum(:impressionable_id) do %>
    <tr>
      <td>artists</td>
      <td>show</td>
      <td><%= i %></td>
      <td><%= @artists.find(i).name %></td>
      <td>search</td>
      <td><%= a = @impressions_artist.where(impressionable_id: i).size %></td>
      <td><%= b = @impressions_artist.where(impressionable_id: i, ip_address: "175.177.119.139").size %></td>
      <td><%= c = @impressions_artist.where(impressionable_id: i, ip_address: "182.251.56.117").size %></td>
      <td><%= a-b-c %></td>
    </tr>
    <% end %>
  </tbody>
</table>


<br>
<br>
<br>
<br>

<table>
  <thead>
    <tr>
      <th>controller_name</th>
      <th>action_name</th>
      <th>impressionable_id</th>
      <th>request_hash</th>
      <th>ip_address</th>
      <th>session_hash</th>
      <th>created_at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% Impression.all.order(id: "DESC").each do |art| %>
      <tr>
        <td><%= art.controller_name %></td>
        <td><%= art.action_name %></td>
        <td><%= art.impressionable_id %></td>
        <td><%= art.request_hash %></td>
        <td>[]<%= art.ip_address %></td>
        <td>[]<%= art.session_hash %></td>
        <td>[]<%= art.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
