<%= form_with(model: artist, local: true) do |form| %>
  <% if artist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(artist.errors.count, "error") %> prohibited this artist from being saved:</h2>

      <ul>
      <% artist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country %>
  </div>

  <div class="field">
    <%= form.label :birth %>
    <%= form.text_field :birth %>
  </div>

  <div class="field">
    <%= form.label :death %>
    <%= form.text_field :death %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<br>
<%= simple_form_for @artist,
  wrapper: :horizontal_form,
  wrapper_mappings: {
    boolean:       :horizontal_boolean,
    check_boxes:   :horizontal_collection,
    date:          :horizontal_multi_select,
    datetime:      :horizontal_multi_select,
    file:          :horizontal_file,
    radio_buttons: :horizontal_collection,
    range:         :horizontal_range,
    time:          :horizontal_multi_select
  } do |f| %>
  <%= f.input :name %>
  <%= f.input :country, as: :string %>
  <%= f.input :birth %>
  <%= f.input :death %>
  <%= f.button :submit %>
<% end %>
