<div class="container-fluid">
  <%= form_with(model: artist, local: true) do |form| %>
    <% if artist.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(artist.errors.count, "error") %> prohibited this artist from being saved:</h2>

        <ul>
        <% artist.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group row">
      <div class="col-lg-1 offset-lg-2">
        <%= form.label :name %>
      </div>
      <div class="col-lg-3">
        <%= form.text_field :name %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-lg-1 offset-lg-2">
        <%= form.label :country %>
      </div>
      <div class="col-lg-3">
      <%= form.text_field :country %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-lg-1 offset-lg-2">
        <%= form.label :birth %>
      </div>
      <div class="col-lg-3">
      <%= form.text_field :birth %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-lg-1 offset-lg-2">
        <%= form.label :death %>
      </div>
      <div class="col-lg-3">
      <%= form.text_field :death %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-lg-6 offset-lg-3">
        <%= form.submit class: "col-lg-2 btn btn-outline-primary" %>
        <%= link_to 'Back', new_art_path, class: "col-lg-2 btn btn-outline-secondary", style: "text-decoration:none;" %>
      </div>
    </div>
  <% end %>
</div>
