<script type="text/javascript">
  var contentString;
  var infoWindow;
  var position;
  var marker;
  function initMap() {

      var center = {lat: <%= @arts.average(:latitude) %>, lng: <%= @arts.average(:longitude) %>};
      var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 6,
          center: center
      });
      var transitLayer = new google.maps.TransitLayer();
      transitLayer.setMap(map);

      <% @arts.each do |art| %>
        <% unless art.address == '' %>
        <% unless art.latitude == 'nil' %>
        <% unless art.longitude == 'nil' %>
          contentString = '<%= art.title %>, <%= art.artist.name %>';
          infoWindow = new google.maps.InfoWindow({
              content: contentString
          });

          position = {
            lat: <%= art.latitude %>,
            lng: <%= art.longitude %>
          }
          marker = new google.maps.Marker({
              position:position,
              map: map,
              title: contentString
          });

          marker.addListener('click', function() { // マーカーをクリックしたとき
            infoWindow.open(map, marker); // 吹き出しの表示
          });
        <% end %>
        <% end %>
        <% end %>
      <% end %>
  }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&callback=initMap">
</script>

<p id="notice"><%= notice %></p>

<div class="container-fluid pc-width">
  <div class="row">
    <div class="col-lg-3">
      <%= link_to root_path do %>
        <h1 class="home">artmap</h1>
      <% end %>
    </div>
    <div class="col-lg-6">
    </div>
    <div class="col-lg-3">
      <a href="https://youtu.be/JVDTvAaums0" target="_blank"><h2 class="pt-2 td-n">How to use this site</h2></a>
    </div>
  </div>

  <br>



  <div class="row">
    <div class="btn-group col-md-4">
      <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size:30px;">
        <%= @artist.name %>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <% @artists.each do |artist| %>
          <%= link_to artist.name, artist_path(artist), class: "dropdown-item", style:"font-size:30px;" %>
        <% end %>
        <div class="dropdown-divider"></div>
        <%= link_to "All Artists", root_path, class: "dropdown-item", style:"font-size:30px;" %>
      </div>
    </div>

    <div class="col-md-3" style="margin-top:7px; font-size:30px;">
      <%= @artist.country %>
    </div>

    <div class="col-md-3" style="margin-top:7px; font-size:30px;">
      <%= @artist.birth %> - <%= @artist.death %>
    </div>

    <div class="col-md-2" style="margin-top:7px; font-size:30px;">
      <%= link_to 'Edit', edit_artist_path(@artist), style: "color:gray; text-decoration:none;"  %>
    </div>
  </div>

  <style type="text/css">
    #map { height: 400px;
      margin-left:auto;
      margin-right:auto;
      margin-top:20px;
      margin-bottom:40px;
      text-align:left;
      width: 100%;}
    </style>
  <div class="row">
    <div id="map" class="col-lg-12"></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <%= link_to 'Post Painting', new_art_path, class: "col-lg-12", class: "btn btn-outline-primary", style: "margin: 0 auto;" %>
  </div>
</div>
<br>

<div class="container-fluid mt-3 pc-width">
  <div class="row">
    <% @arts.each do |art| %>
      <div class="col-lg-4 mb-4 prl-0">
        <div class="card border-0px">
          <%= link_to art do %>
            <%= image_tag art.image.to_s, class: "card-img-top" %>
          <% end %>
          <div class="card-body">
            <div class="offset-sm-1">
              <div class="card-text" style="font-size:25px;">
                <%= link_to art.title, art, style: "text-decoration: none;" %>
              </div>
              <div class="card-text"><%= art.year %></div>
              <div class="card-text" style="font-size:20px;margin-top:5px;">
                <%= link_to art.artist.name, artist_path(art.artist), style: "text-decoration: none;" %>
              </div>
              <div class="card-text" style="margin-bottom:10px;">
                <%= art.artist.country %>, <%= art.artist.birth %> - <%= art.artist.death %>
              </div>
            </div>
            <%= link_to "Street View", art.view_link, :target=>["_blank"], class:"col-sm-8 offset-sm-2 btn btn-primary", style: "text-decoration:none; font-size:20px;" %>
            <!-- <div class="d-flex justify-content-between align-items-center" style="margin-top:10px;">
              <div class="btn-group">
                <%= link_to 'Show', art, class: "btn btn-sm btn-outline-secondary" %>
                <%= link_to 'Edit', edit_art_path(art), class: "btn btn-sm btn-outline-secondary" %>
                <%= link_to 'Destroy', art, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-outline-secondary" %>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <button id="pagetop" class="btn btn-outline-primary" style="margin: 0 auto;">to Page Top</button>
  </div>
</div>
<br>

<script type="text/javascript">
  $(function(){
      $('#pagetop').click(function () {
          //id名#pagetopがクリックされたら、以下の処理を実行
          $("html,body").animate({scrollTop:0},"300");
      });
  });
</script>
