<p id="notice"><%= notice %></p>
<h1>
  My Favorite Paintings' Location & Street View
</h1>

<h2>Paintings</h2>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Year</th>
      <th>Artist</th>
      <th>Country</th>
      <th>Birth & Death</th>
      <th>Image</th>
      <th>Image url</th>
      <th>Location url</th>
      <th>View url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @arts.each do |art| %>
      <tr>
        <td><%= art.title %></td>
        <td><%= art.year %></td>
        <td><%= link_to art.artist.name, artist_path(art.artist) %></td>
        <td><%= art.artist.country %></td>
        <td><%= art.artist.birth %> - <%= art.artist.death %></td>
        <td><%= image_tag art.image.to_s %></td>
        <td><%= link_to "Google Arts & Culture", art.image_url, :target=>["_blank"] %></td>
        <td><%= link_to "Location", art.location_url, :target=>["_blank"] %></td>
        <td><%= link_to "Street View", art.view_url, :target=>["_blank"] %></td>
        <td><%= link_to 'Show', art %></td>
        <td><%= link_to 'Edit', edit_art_path(art) %></td>
        <td><%= link_to 'Destroy', art, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Art', new_art_path %>
