<script type="text/javascript">
  var contentString;
  var infoWindow;
  var position;
  var marker;
  function initMap() {

      var cecnter = {lat: <%= @arts.average(:latitude) %>, lng: <%= @arts.average(:longitude) %>};
      var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 6,
          center: cecnter
      });
      var transitLayer = new google.maps.TransitLayer();
      transitLayer.setMap(map);

      <% @arts.each do |art| %>
        <% unless art.address == '' %>
        <% unless art.latitude == 'nil' %>
        <% unless art.longitude == 'nil' %>
          contentString = '<%= art.address %>';
          infoWindow = new google.maps.InfoWindow({
              content: contentString
          });

          position = {
            lat: <%= art.latitude %>,
            lng: <%= art.longitude %>
          }
          marker = new google.maps.Marker({
              position:position,
              map: map,
              title: contentString
          });

          marker.addListener('click', function() { // マーカーをクリックしたとき
            infoWindow.open(map, marker); // 吹き出しの表示
          });
        <% end %>
        <% end %>
        <% end %>
      <% end %>
  }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&callback=initMap">
</script>

<p id="notice"><%= notice %></p>
<h1>
  My Favorite Paintings' Location & Street View
</h1>

<h2>Paintings</h2>


<% @arts.each do |art| %>
    <%= image_tag art.image.to_s %> <br>
    <%= link_to art.title, art %> <br>
    <%= art.year %> <br>
    <%= link_to art.artist.name, artist_path(art.artist) %> <br>
    <%= art.artist.country %> <br>
    <%= art.artist.birth %> - <%= art.artist.death %> <br>
<<<<<<< HEAD
    <%= link_to "Google Arts & Culture", art.image_link, :target=>["_blank"] %> <br>
    <%= link_to "Location", art.location_link, :target=>["_blank"] %> <br>
    <%= art.address %> <br>
    <%= art.latitude %> <br>
    <%= art.longitude %> <br>
    <%= link_to "Street View", art.view_link, :target=>["_blank"] %> <br>
=======
    <%= link_to "Google Arts & Culture", art.image_url, :target=>["_blank"] %> <br>
    <%= link_to "Location", art.location_url, :target=>["_blank"] %> <br>
    <%= art.address %> <br>
    <%= art.latitude %> <br>
    <%= art.longitude %> <br>
    <%= link_to "Street View", art.view_url, :target=>["_blank"] %> <br>
>>>>>>> a1db00d... layout changed
    <%= link_to 'Show', art %> <br>
    <%= link_to 'Edit', edit_art_path(art) %> <br>
    <%= link_to 'Destroy', art, method: :delete, data: { confirm: 'Are you sure?' } %> <br>
    <br>
<% end %>

<br>

<%= link_to 'New Art', new_art_path %>

<style type="text/css">
  #map { height: 400px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    width: 80%;}
</style>
<div id="map"></div>
