<script type="text/javascript">
    function initMap() {

        var test ={lat: <%= @latitude %>, lng: <%= @longitude %>};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: test
        });
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);

        var contentString = '<%= @art.title %>, <%= @art.artist.name %>';
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var marker = new google.maps.Marker({
            position:test,
            map: map,
            title: contentString
        });

        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&callback=initMap">
</script>

<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <%= image_tag @art.image.to_s, style:"width:100%;" %>
    </div>
    <div class="col-lg-2 offset-sm-1">
      <br>
      <div style="font-size:25px;"><%= @art.title %></div>
      <%= @art.year %><br>
      <div style="font-size:20px;margin-top:5px;">
        <%= link_to @art.artist.name, artist_path(@art.artist), style:"text-decoration:none;" %>
      </div>
      <div class="" style="margin-bottom:10px;">
        <%= @art.artist.country %>, <%= @art.artist.birth %> - <%= @art.artist.death %>
      </div>

      <div class="" >
        <% if @art.image_link = nil %>
          <a href="https://artsandculture.google.com/" target="_blank" style="text-decoration:none;">Search for Image in Google Arts & Culture</a>
        <% else %>
          <%= link_to "Open Image link", @art.image_link, :target=>["_blank"], style:"text-decoration:none;" %>
        <% end %>
      </div>

      <div class="">
        <% if @art.location_link = nil %>
          <a href="https://www.google.co.jp/maps/" target="_blank" style="text-decoration:none;">Search in Google Maps</a>
        <% else %>
          <%= link_to "Opne Google Maps", @art.location_link, :target=>["_blank"], style:"text-decoration:none;" %>
          <strong>Latitude:</strong>
          <%= @art.latitude %>
          <strong>Longitude:</strong>
          <%= @art.longitude %>
        <% end %>
      </div>

      <div class="">
        <% if @art.location_link = nil %>
          <a href="https://www.google.co.jp/maps/" target="_blank" style="text-decoration:none;">Search in Google Maps</a>
        <% else %>
          <%= link_to "Open Street View", @art.view_link, :target=>["_blank"], style:"text-decoration:none;" %>
        <% end %>
      </div>
    </div>
  </div>

<br>

  <style type="text/css">
    #map { height: 400px;
      margin-left:auto;
      margin-right:auto;
      text-align:left;
      width: 100%;}
  </style>
  <div class="row">
    <div id="map"></div>
  </div>
</div>

<%= link_to 'Edit', edit_art_path(@art) %> |
<%= link_to 'Back', arts_path %>
