<script type="text/javascript">
    function initMap() {

        var test ={lat: <%= @latitude %>, lng: <%= @longitude %>};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: test
        });
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);

        var contentString = '<%= @art.title %>, <%= @art.artist.name %>';
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var marker = new google.maps.Marker({
            position:test,
            map: map,
            title: contentString
        });

        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&callback=initMap">
</script>

<p id="notice"><%= notice %></p>

<div class="container-fluid pc-width">
  <div class="row">
    <div class="col-lg-6 offset-lg-3 mt-0 prl-0">
      <%= image_tag @art.image.to_s, style:"width:100%;" %>
    </div>
    <div class="col-lg-2 offset-sm-1">
      <div style="font-size:25px; margin-top:5px;"><%= @art.title %></div>
      <%= @art.year %><br>
      <div style="font-size:20px;margin-top:5px;">
        <%= link_to @art.artist.name, artist_path(@art.artist), style:"text-decoration:none;" %>
      </div>
      <div class="" style="margin-bottom:10px;">
        <%= @art.artist.country %>, <%= @art.artist.birth %> - <%= @art.artist.death %>
      </div>

      <div class="" style="margin-bottom:5px;">
        <% if @art.image_link == nil or @art.image_link == "" %>
          <a href="https://artsandculture.google.com/" target="_blank" style="text-decoration:none;">Search for Image in Google Arts & Culture</a>
        <% else %>
          <%= link_to "Open Image link", @art.image_link, :target=>["_blank"], style:"text-decoration:none;" %>
        <% end %>
      </div>

      <div class="" style="margin-bottom:5px;">
        <% if @art.location_link == nil  or @art.location_link == "" %>
          <%= link_to "Search in Google Maps", "https://www.google.co.jp/maps/", :target=>["_blank"], class:"btn btn-outline-primary", style: "text-decoration:none; font-size:20px;" %>
        <% else %>
          <%= link_to "Google Maps", @art.location_link, :target=>["_blank"], class:"btn btn-primary", style: "text-decoration:none; font-size:20px;" %>
        <% end %>
      </div>

      <div class="">
        <% if @art.view_link == nil or @art.view_link == "" %>
          <% if @art.location_link == nil or @art.location_link == "" %>
            <%= link_to "Street View", "https://www.google.co.jp/maps/", :target=>["_blank"], class:"btn btn-outline-primary", style: "text-decoration:none; font-size:20px;" %>
          <% else %>
            <%= link_to "Street View", @art.location_link, :target=>["_blank"], class:"btn btn-outline-primary", style: "text-decoration:none; font-size:20px;" %>
          <% end %>
        <% else %>
          <%= link_to "Street View", @art.view_link, :target=>["_blank"], class:"btn btn-primary", style: "text-decoration:none; font-size:20px;" %>
        <% end %>
      </div>

      <div class="" style="margin-top:10px;">
        <%= link_to 'Home', arts_path, class: "btn btn-outline-secondary", style: "text-decoration:none;" %>
      </div>
      <div class="" style="margin-top:10px;">
        <%= link_to 'Edit', edit_art_path(@art), class: "btn btn-outline-secondary" %>
        <%= link_to 'Delete', @art, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-secondary" %>
      </div>


    </div>
  </div>

<br>

  <div class="row">
    <div id="map" class="pc-mb-20px map-height"></div>
  </div>
</div>

PV数：<%=  @art.impressionist_count %>
PV数：<%=  Impression.where(controller_name: :arts, action_name: :show, impressionable_id: @art.id).size %>
