<p id="notice"><%= notice %></p>



<p>
  <strong>Title:</strong>
  <%= @art.title %>
</p>

<p>
  <strong>Year:</strong>
  <%= @art.year %>
</p>

<p>
  <strong>Artist:</strong>
  <%= link_to @art.artist.name, artist_path(@art.artist) %>
</p>

<p>
  <strong>From</strong>
  <%= @art.artist.country %>
</p>

<p>
  <strong>生没年</strong>
  <%= @art.artist.birth %> - <%= @art.artist.death %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @art.image.to_s %>
</p>

<p>
  <strong>Image url:</strong>
  <%= link_to "Google Arts & Culture", @art.image_url, :target=>["_blank"] %>
</p>

<p>
  <strong>Location url:</strong>
  <%= link_to "Location", @art.location_url, :target=>["_blank"] %>
</p>

<p>
  <strong>View url:</strong>
  <%= link_to "Street View", @art.view_url, :target=>["_blank"] %>
</p>

<%= link_to 'Edit', edit_art_path(@art) %> |
<%= link_to 'Back', arts_path %>
