<p id="notice"><%= notice %></p>

<p>
  <strong>Artist:</strong>
  <%= @art.artist %>
</p>

<p>
  <strong>Title:</strong>
  <%= @art.title %>
</p>

<p>
  <strong>Year:</strong>
  <%= @art.year %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @art.image_url %>
</p>

<p>
  <strong>Location url:</strong>
  <%= @art.location_url %>
</p>

<p>
  <strong>View url:</strong>
  <%= @art.view_url %>
</p>

<%= link_to 'Edit', edit_art_path(@art) %> |
<%= link_to 'Back', arts_path %>
