<script type="text/javascript">
    function initMap() {

        var test ={lat: <%= @latitude %>, lng: <%= @longitude %>};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: test
        });
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);

        var contentString = '<%= @art.title %>, <%= @art.artist.name %>';
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var marker = new google.maps.Marker({
            position:test,
            map: map,
            title: contentString
        });

        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&callback=initMap">
</script>

<p id="notice"><%= notice %></p>


<p>
  <strong>Image:</strong>
  <%= image_tag @art.image.to_s %>
</p>

<p>
  <strong>Title:</strong>
  <%= @art.title %>
</p>

<p>
  <strong>Year:</strong>
  <%= @art.year %>
</p>

<p>
  <strong>Artist:</strong>
  <%= link_to @art.artist.name, artist_path(@art.artist), style:"text-decoration:none;" %>
</p>

<p>
  <strong>From</strong>
  <%= @art.artist.country %>
</p>

<p>
  <strong>生没年</strong>
  <%= @art.artist.birth %> - <%= @art.artist.death %>
</p>

<p>
  <% if @art.image_link = nil %>
    <a href="https://artsandculture.google.com/" target="_blank" style="text-decoration:none;">Search in Google Arts & Culture</a>
  <% else %>
    <%= link_to "Image link", @art.image_link, :target=>["_blank"], style:"text-decoration:none;" %>
  <% end %>
</p>


<p>
  <% if @art.location_link = nil %>
    <a href="https://www.google.co.jp/maps/" target="_blank" style="text-decoration:none;">Search in Google Maps</a>
  <% else %>
    <%= link_to "Opne in Google Maps", @art.location_link, :target=>["_blank"], style:"text-decoration:none;" %>
    <strong>Latitude:</strong>
    <%= @art.latitude %>
    <strong>Longitude:</strong>
    <%= @art.longitude %>
  <% end %>
</p>

<p>
  <strong>Street View</strong>
  <% if @art.location_link = nil %>
    <a href="https://www.google.co.jp/maps/" target="_blank" style="text-decoration:none;">Search in Google Maps</a>
  <% else %>
    <%= link_to "Open", @art.view_link, :target=>["_blank"], style:"text-decoration:none;" %>
  <% end %>
</p>

<style type="text/css">
  #map { height: 400px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    width: 80%;}
</style>
<div id="map"></div>

<%= link_to 'Edit', edit_art_path(@art) %> |
<%= link_to 'Back', arts_path %>
